.field__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.field__term {
    width: 30%;
    height: 100%;
    /*padding: 15px 0;*/
    /*background: #ababab;*/
    display: flex;
    justify-content: center;
}

.field__description {
    width: 70%;
    height: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    /*background: #dedede;*/
}