* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
    padding: 10px 0;
}

.body {
    width: 80%;
    margin: 0 auto;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    opacity: 0;
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: opacity 500ms ease-in;
}

.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: opacity 500ms ease-in;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #505050;
}

.post__btns {
    display: flex;
    flex-direction: column;
}

.error__title {
    color: red;
}

.counter__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}